@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Empréstimo de Livros </h1>
    <p>Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/Livro.png" />
    </div>
</div>
